$color-bg-primary: #1d1d1f;
$color-bg-faded: #262628;
$color-bg-light: #666666;
$color-bg-inverted: #fffdfc;

$color-text-primary: #fffdfc;
$color-text-faded: #666666;
$color-text-inverted: #1d1d1f;

$color-accent: #f37321;
$color-accent-light: #f8b218;
$color-accent-dark: #f04923;

$footer-size: 3rem;

